<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

    <div class="content">
        <section class="recipe1">
            <h2>Ensalada de Quinoa</h2>
            <img id="ensalada" src="/img/ensalada.jpg"Ensalada de Quinoa">
            <p>Ingredientes:</p>
            <ul>
                <li>1 taza de quinoa</li>
                <li>1 pepino</li>
                <li>1 pimiento rojo</li>
                <li>1 zanahoria</li>
                <li>1 aguacate</li>
                <li>Jugo de limón</li>
                <li>Aceite de oliva</li>
                <li>Sal y pimienta al gusto</li>
            </ul>
            <p>Preparación:</p>
            <ol>
                <li>Cocina la quinoa según las instrucciones del paquete y déjala enfriar.</li>
                <li>Corta el pepino, el pimiento rojo, la zanahoria y el aguacate en trozos.</li>
                <li>En un recipiente, mezcla la quinoa cocida con las verduras.</li>
                <li>Agrega jugo de limón, aceite de oliva, sal y pimienta al gusto.</li>
                <li>Refrigera durante al menos una hora antes de servir.</li>
            </ol>
        </section>

        <section class="recipe2">
            <h2>Salmón al Horno</h2>
            <img id="salmon"  src="/img/salmon.jpg" alt="Salmón al Horno">
            <p>Ingredientes:</p>
            <ul>
                <li>2 filetes de salmón</li>
                <li>Jugo de limón</li>
                <li>Aceite de oliva</li>
                <li>Salsa de soja baja en sodio</li>
                <li>Sal y pimienta al gusto</li>
                <li>Eneldo fresco</li>
            </ul>
            <p>Preparación:</p>
            <ol>
                <li>Prepara una marinada con jugo de limón, aceite de oliva, salsa de soja, sal, pimienta y eneldo
                    fresco.</li>
                <li>Coloca los filetes de salmón en un recipiente y vierte la marinada sobre ellos. Deja reposar durante
                    30 minutos.</li>
                <li>Prepara una bandeja para horno y coloca los filetes de salmón en ella.</li>
                <li>Hornea a 180 °C durante 15-20 minutos o hasta que el salmón esté cocido.</li>
                <li>Sirve caliente y decora con eneldo fresco.</li>
            </ol>
        </section>

        <section class="recipe3">
            <h2>Wrap de Pollo y Vegetales</h2>
            <img  id="wrap" src="/img/wrap.jpg" alt="Wrap de Pollo y Vegetales">
            <p>Ingredientes:</p>
            <ul>
                <li>1 pechuga de pollo cocida y desmenuzada</li>
                <li>Lechuga</li>
                <li>Tomate</li>
                <li>Pepino</li>
                <li>Zanahoria rallada</li>
                <li>Aderezo de yogur</li>
                <li>Tortillas de trigo integral</li>
            </ul>
            <p>Preparación:</p>
            <ol>
                <li>Coloca una tortilla de trigo integral en una superficie plana.</li>
                <li>Esparce una capa de aderezo de yogur sobre la tortilla.</li>
                <li>Agrega lechuga, tomate, pepino, zanahoria rallada y pollo desmenuzado en el centro de la tortilla.
                </li>
                <li>Enrolla la tortilla firmemente, doblando los extremos hacia adentro.</li>
                <li>Repite el proceso con las demás tortillas.</li>
                <li>Corta los wraps por la mitad y sírvelos.</li>
            </ol>
        </section>

        <section class="recipe4">
            <h2>Smoothie de Frutas</h2>
            <img id="smoothie" src="/img/smothie.jpg" alt="Smoothie de Frutas">
            <p>Ingredientes:</p>
            <ul>
                <li>1 plátano</li>
                <li>1 taza de fresas</li>
                <li>1 taza de mango</li>
                <li>1 taza de yogur griego</li>
                <li>1/2 taza de leche de almendras</li>
                <li>Miel o edulcorante (opcional)</li>
                <li>Cubitos de hielo</li>
            </ul>
            <p>Preparación:</p>
            <ol>
                <li>Coloca el plátano, las fresas, el mango, el yogur griego, la leche de almendras y los cubitos de
                    hielo en una licuadora.</li>
                <li>Mezcla hasta obtener una consistencia suave y cremosa.</li>
                <li>Agrega miel o edulcorante al gusto si deseas más dulzura.</li>
                <li>Sirve en vasos y disfruta de tu smoothie de frutas.</li>
            </ol>
        </section>

        <section class="recipe5">
            <h2>Bol de Salmón Teriyaki con Verduras al Vapor</h2>
            <img id="salmon-teriyaki" src="/img/salmon-teriyaki.jpg" alt="Salmón Teriyaki">
            <p>Ingredientes:</p>
            <ul>
            <li>2 filetes de salmón fresco</li>
            <li>2 cucharadas de salsa de soja baja en sodio</li>
            <li>1 cucharada de miel o sirope de arce</li>
            <li> 2 dientes de ajo, picados</li>
            <li>1 cucharadita de jengibre fresco rallado</li>
            <li>2 tazas de arroz integral cocido</li>
            <li>2 tazas de brócoli, cortado en floretes</li>
            <li> 1 zanahoria grande, cortada en rodajas finas</li>
            <li> 1 pimiento rojo, cortado en tiras delgadas</li>
            <li>1 cebolla pequeña, cortada en rodajas</li>
            <li>Aceite de oliva</li>
            <li>1 pimiento rojo, cortado en tiras delgadas</li>
            <li>1 cebolla pequeña, cortada en rodajas</li>
            <li>Aceite de oliva</li>
            <li>Semillas de sésamo tostadas (opcional), para decorar</li>
            </ul>
            <p>Preparación:</p>
            <ol>
                <li>Precalienta el horno a 200 °C y forra una bandeja para hornear con papel de aluminio o papel pergamino.</li>
                <li>En un tazón pequeño, mezcla la salsa de soja, la miel (o el sirope de arce), el ajo picado y el jengibre rallado. Coloca los filetes de salmón en la bandeja para hornear y vierte la mezcla de teriyaki sobre el salmón, asegurándote de cubrirlo por completo. Deja marinar durante unos 15-20 minutos.</li>
                <li>Mientras tanto, prepara las verduras al vapor. Coloca una olla con agua en el fuego y lleva a ebullición. Coloca el brócoli, la zanahoria, el pimiento rojo y la cebolla en una vaporera sobre la olla. Tapa la vaporera y cocina al vapor durante unos 5-7 minutos, o hasta que las verduras estén tiernas pero aún crujientes. Retira del fuego y reserva.</li>
                <li>Lleva la bandeja con el salmón al horno precalentado y hornea durante unos 12-15 minutos, o hasta que el salmón esté cocido pero jugoso en el centro. Retira del horno y deja reposar unos minutos.</li>
                <li>Mientras el salmón se enfría un poco, divide el arroz integral cocido en dos tazones. Agrega las verduras al vapor en un lado del tazón y coloca el filete de salmón teriyaki en el otro lado.</li>
                <li>Rocía un poco de aceite de oliva sobre las verduras y espolvorea semillas de sésamo tostadas por encima, si lo deseas. Repite el proceso para el segundo tazón.</li>
                <li>Sirve los tazones de salmón teriyaki con verduras al vapor de inmediato y disfruta de este delicioso y saludable plato. Puedes animar a tus lectores a personalizar sus tazones con ingredientes adicionales, como aguacate en rodajas, edamame o cebollino picado.</li>
        </section>
    </div>

  <footer class="footer">
        <p class="first">
            Recetas Saludables - Tu fuente de inspiración para una alimentación balanceada y deliciosa.
        </p>
        <p class="first">
            © 2023 Recetas Saludables. Todos los derechos reservados.
        </p>
        <p class="first">
            Aviso legal | Política de privacidad | Términos y condiciones  
        </p>  
    </footer> 

    
    <script src="/scripts/javascript.js"></script>
</body>

</html>























 <!-- <footer class="footer">
        <p class="first">
            Recetas Saludables - Tu fuente de inspiración para una alimentación balanceada y deliciosa.
        </p>
        <p class="first">
            © 2023 Recetas Saludables. Todos los derechos reservados.
        </p>
        <p class="first">
            Aviso legal | Política de privacidad | Términos y condiciones  
        </p>  
    </footer> -->